<div class="container">
    <div class="header">
        <div class="title">Terms & Condition <svg  (click)=" editCondition()" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.3231 3.71875H10.3377C6.23772 3.71875 3.66705 6.62142 3.66705 10.7307V21.8161C3.66705 25.9254 6.22572 28.8281 10.3377 28.8281H22.1031C26.2164 28.8281 28.7751 25.9254 28.7751 21.8161V16.4454" stroke="#0269F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7704 14.5612L21.7344 4.59724C22.9757 3.35724 24.9877 3.35724 26.2291 4.59724L27.8517 6.2199C29.0931 7.46124 29.0931 9.47457 27.8517 10.7146L17.8397 20.7266C17.2971 21.2692 16.5611 21.5746 15.7931 21.5746H10.7984L10.9237 16.5346C10.9424 15.7932 11.2451 15.0866 11.7704 14.5612Z" stroke="#0269F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20.2203 6.13672L26.3083 12.2247" stroke="#0269F1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></div>
       
    </div>
 

	<div class="content">
		<div class="display">
			<h2>1. GENERAL INFORMATION</h2>
            <h4>1.1 Mango Mentors PRODUCTS</h4>
            <p> These Terms & Conditions (these “Terms”) contain the terms and conditions on which we supply content, products or services listed on Mango Mentors (the “Youtube”), through our applications (the “Apps”) or via other delivery methods to you (the Website and such content, products, services and the Apps are collectively referred to herein as the “Product” or “Products”, which may be updated from time-to-time at the sole discretion of Headspace). Please read these terms and conditions, carefully before ordering any Products from the Website or third party App stores (e.g. the Apple App Store) The terms “Mango Mentors,” “us” or “we” refers to Mango Mentors, Inc. The term “Device” refers to the device which is used to access the Products including but not limited to computers, smart phones and tablets.</p>
               <h4>1.2 CHANGES TO TERMS</h4>
               <p>Mango Mentors reserves the right to change or update these Terms, or any other of our policies or practices, at any time, and will notify users by posting such changed or updated Terms on this page. Any changes or updates will be effective immediately upon posting to Mango Mentors. Your continued use of the Products constitutes your agreement to abide by the Terms as changed. Under certain circumstances we may also elect to notify you of changes or updates to our Terms by additional means, such as pop-up or push notifications within the Products or email.</p>
               <h2>2. PRODUCTS DISCLAIMER</h2>
               <p>The information contained in the Products is for general information purposes only. While we</p>
        </div>

	

	
	</div>
</div>