<tm-grid [tmColumnsList]="columnsList"
[tmRowData]="gridData"
[tmNoRowFoundMessage]="'No User Found'"
[tmLoadingMessage]="'User Loading'"
[tmGridPagination]="true"
[tmSearchEnable]="true"
[tmSearchOption]="'hitSubmit'"
[tmTotalPageCount]="10"
[tmTotalRecords]="100"
[isActionRequired]="true"
[tmActionColumnWidth]="250"
[tmActionButtonData]="actionButtonData"
[tmPageButtonData]="tmPageButtonData"
(tmGridSorting)="gridSorting($event)"
(tmGridSearch)="gridSearch($event)"
(tmColumnEdit)="getEditedColumnData($event)"
(getActionData)="getActionData($event)"
(getPageBtnEvent)="getPageBtnEvent($event)"
(tmGridPaginationChange)="changePagination($event)"></tm-grid>