<tm-card style="width:600px;">
    <tm-card-header style="border:none; display: flex;flex-wrap: nowrap; justify-content: space-between;">
        <span>Filter</span>
        <svg (click)="dismiss()" width="25" height="25" viewBox="0 0 25 25" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M19.9189 19.3999L12.9189 12.3999M12.9189 12.3999L19.9189 5.3999M12.9189 12.3999L5.91895 19.3999M12.9189 12.3999L5.91895 5.3999"
                stroke="#31384F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

    </tm-card-header>
    <tm-card-body>
        <form class="categoryForm" action=""
            style="display: flex; flex-direction: column; gap:40px;">
            <div class="form-group" style="display: flex; flex-direction: column; gap:10px;">
                <span style="color:#838795;" class="labelClass">Types</span>
                <div class="buttonGroup" style="display: flex; flex-direction: row;gap:18px; ">
                    <div class="cat action">
                        <label>
                           <input type="checkbox" value="1"><span>All Types</span>
                        </label>
                     </div>
                     
                     <div class="cat comedy">
                        <label>
                           <input type="checkbox" value="1"><span>Video</span>
                        </label>
                     </div>
                     <div class="cat action">
                        <label>
                           <input type="checkbox" value="1"><span>Audio</span>
                        </label>
                     </div>
                     
                     <div class="cat comedy">
                        <label>
                           <input type="checkbox" value="1"><span>Documnet</span>
                        </label>
                     </div>
                </div>

            </div>
            
            <div class="form-group" style="display: flex; flex-direction: column; gap:10px;">
                <span style="color:#838795;" class="labelClass">Filter by Category</span>
                <div>
                    <tm-select  fullWidth  placeholder="Category">
                        <tm-option value="1">Blockchain</tm-option>
                        <tm-option value="2">Career Development</tm-option>
                        <tm-option value="3">Tech Sales and Marketing</tm-option>
                        <tm-option value="4">Technology Development</tm-option>
                        <tm-option value="5">Data analytics</tm-option>
                        <tm-option value="6">Advisory on career path</tm-option>
                    </tm-select>
                </div>

            </div>
            <div class="form-group" style="display: flex; flex-direction: column; gap:10px;">
                <span style="color:#838795;" class="labelClass">Filter by Date</span>
                <div class="buttonGroup" style="display: flex; flex-direction: row;gap:20px; ">
                    <div class="cat action">
                        <label>
                           <input type="checkbox" value="1"><span>All Date</span>
                        </label>
                     </div>
                     
                     <div class="cat comedy">
                        <label>
                           <input type="checkbox" value="1"><span>Custome Range</span>
                        </label>
                     </div>
                     
                </div>
                <div style="display: flex; flex-direction: row;gap:5px;">
                    <div style="display: flex; flex-direction: column;gap:5px; ">
                        <span style="color:#838795;" class="labelClass">Start date</span>
                        <input tmInput placeholder="Pick Date"   [tmDatepicker]="formcontrol1" [formControl]="startDate">
                        <tm-datepicker #formcontrol1 [(date)]="date" [min]="date"  [max]="maxFromDate" ></tm-datepicker>
                    </div>
                 
                    <div style="display: flex; flex-direction: column;gap:5px; ">
                        <span style="color:#838795;" class="labelClass">End Date</span>
                        <input tmInput placeholder="Form Picker" [tmDatepicker]="formcontrol2" [formControl]="endDate">
                        <tm-datepicker #formcontrol2 [min]="startDate.value"  [max]="maxToDate"></tm-datepicker>
                    </div>

                </div>
            </div>
        </form>

    </tm-card-body>
    <tm-card-footer style=" border:none;display:flex; justify-content: space-between;gap:5px;">
        <button tmButton hero shape="semi-round" outline status="danger" (click)="dismiss()"><svg width="25" height="25"
                viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.9189 19.3999L12.9189 12.3999M12.9189 12.3999L19.9189 5.3999M12.9189 12.3999L5.91895 19.3999M12.9189 12.3999L5.91895 5.3999"
                    stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>clear Filter</button>
        <button tmButton hero shape="semi-round" status="primary" (click)=" filterLibrary()">create</button>
    </tm-card-footer>
</tm-card>