<div class="container">
    <!-- header -->
    <div class="header">
        <div class="headerTitle">
            <svg (click)=" backToLibrary()" width="32" height="33" viewBox="0 0 32 33" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M5.6665 16.9579L25.6665 16.9579" stroke="#31384F" stroke-width="3" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M13.7329 24.9904L5.66624 16.9584L13.7329 8.92511" stroke="#31384F" stroke-width="3"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            Create library
        </div>
        <div class="buttonGroup">
            <button tmButton>Cancel</button>
            <button tmButton status="primary" (click)="createCategory()">Create</button>
        </div>
    </div>
    <!-- content -->
    <div class="content">
        <form action="" name="frm" class="CreateLibraryForm" [formGroup]="categoryForm">
            <div class="containerData">
                <div class="formField">
                    <Span>Title</Span>
                    <input type="text" name="categoryTitle" tmInput fullWidth formControlName="categoryTitle"
                        [ngClass]="{ 'is-invalid': submitted && f.categoryTitle.errors }">
                </div>
                <div *ngIf="submitted && f.categoryTitle.errors" class="invalid-feedback" style="color: red;">
                    <div *ngIf="f.categoryTitle.errors?.required">Title is required</div>
                </div>
                <div class="formField">
                    <div class="categoryFlex">
                        <span>Choose Category</span>
                        <div>
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.05469 2.66669L8.05469 13.3334" stroke="#0269F1" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.3879 8L2.72119 8" stroke="#0269F1" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            Create Category
                        </div>
                    </div>

                    <tm-select fullWidth ngDefaultControl placeholder="Category" formControlName="category"
                        [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                        <tm-option value="1">Blockchain</tm-option>
                        <tm-option value="2">Career Development</tm-option>
                        <tm-option value="3">Tech Sales and Marketingn</tm-option>
                        <tm-option value="4">Technology Development</tm-option>
                        <tm-option value="5">Data analytics</tm-option>
                        <tm-option value="6">Advisory on career path</tm-option>
                    </tm-select>
                </div>
                <div *ngIf="submitted && f.category.errors" class="invalid-feedback" style="color: red;">
                    <div *ngIf="f.category.errors?.required">Category is required</div>
                </div>
                <div class="formField">
                    <span>Description</span>
                    <textarea formControlName="description"
                        [ngClass]="{ 'is-invalid': submitted && f.description.errors }" tmInput fullWidth name="" id=""
                        cols="30" rows="10"></textarea>
                </div>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback" style="color: red;">
                    <div *ngIf="f.description.errors?.required">Description is required</div>
                </div>
            </div>
            <div class="containerYoutube">
                <div class="formField" onclick="fetch()" >
                    <Span>Add Youtube Link</Span>
                    <input type="text" name="url" tmInput fullWidth formControlName="youtubeLink"
                        [ngClass]="{ 'is-invalid': submitted && f.youtubeLink.errors }">
                </div>
                <div *ngIf="submitted && f.youtubeLink.errors" class="invalid-feedback" style="color: red;">
                    <div *ngIf="f.youtubeLink.errors?.required">Youtube Link is required</div>
                </div>
                <div  id="youtubeView"  class="youtubeView">
                    <div class="content">
                    <img width="100px" id="myimg" src="" />
                    <div>
                        <div id="youtubeTitle"></div>
                        <span>youtube</span>
                    </div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 19L12 12M12 12L19 5M12 12L5 19M12 12L5 5" stroke="#F44841" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                    </div>  
                </div>
                <div class="formField">
                    <Span>Duration</Span>
                    <div>
                        <input tmInput fullWidth type="text" [tmTimepicker]="timepicker" formControlName="duration"
                            [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
                        <tm-timepicker #timepicker withSeconds></tm-timepicker>
                    </div>
                </div>
                <div *ngIf="submitted && f.duration.errors" class="invalid-feedback" style="color: red;">
                    <div *ngIf="f.duration.errors?.required">Duration is required</div>
                </div>
            </div>
         
        </form>
    </div>
</div>