<tm-layout>
    <tm-layout-column>
    <div class="header">

    </div>
    <div class="section">

    </div>
    <div class="content">
        <div class="contentBody">
        <div class="contentHeader">
            <p> Empowering </p>
            <p>A Future Generation of </p>
            <p>Technology Professionals</p>
           
        </div>
        <div class="mobileSection"></div>
        <div class="getContent">
        <p>Get the App</p>
        <p>Scan this QR Code with your phone to download the app.</p>
        </div>
        <div class="qrCodeContainer">
            <div class="appleStore">
                <img class="qrCode" src="../../../assets/landing/apple-store.png" alt="">
                <img class="buttonLink" src="../../../assets/landing/apple-store-button.png" alt="">
            </div>
            <div class="playStore">
                <img class="qrCode"  src="../../../assets/landing/play-store.png" alt="">
                <img class="buttonLink" src="../../../assets/landing/play-store-button.png" alt="">
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="footerContent">
            <div class="poweredBy">
                <p>Powered By</p>
                <img src="../../../assets/landing/Techmango.png" alt="">
            </div>
            <div class="vr1"></div>
           <div class="followUs">
            <p>Follow Us</p>
            <img src="../../../assets/landing/Facebook.svg" alt="">
            <img src="../../../assets/landing/Youtube.svg" alt="">
            <img src="../../../assets/landing/LinkedIn.svg" alt="">
            <img src="../../../assets/landing/Twitter-white.svg" alt="">
           </div>
        </div>
    </div>

</tm-layout-column>
</tm-layout>
