.listConatiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;

    .listCard {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 290px;
        height: 270px;

        position: relative;
     
        .imageContainer {
            width: 305px;
            height: 141px;
            border-radius: 35px;
            
            img {
                width: 100%;
                padding: 5px;
           
                height: 140px;
                border-radius: 25px;
            }
            
        }
        .menuBar{
            display: none;
        }

       &:hover{
        border: 1px solid grey;
        border-radius: 15px;
        .menuBar {
            display: block;
            position: absolute;
            left: 220px;
            top:5px;
            background-color: white;
            opacity: 0.8;
            border-radius: 80%;
          img{
            height:30px;
          }
          
        }
    }

        .bodyContainer {
         
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 5px 20px;

            .titleContainer {
                width: 287.43px;
                height: 24px;                                    
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;              
                color: #31384F;
            }

            .categoryContainer {
                display: flex;
                flex-flow: row nowrap;
                width: 240px;
                height: 20px;  
                color: #5A6072;                                      
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
            }

            .descriptionContainer {
                display: none;
                flex-flow: row nowrap;
                width: 660px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #838795;
            }

            .detailsContainer {
                display: flex;
                flex-flow: row nowrap;
                gap: 6px;

                .dateContainer {
                    display: flex;
                    flex-flow: row nowrap;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 20px;
                    gap: 6px;
                    text-transform: uppercase;
                    color: #838795;
                }

                .mediaContainer {
                    display: flex;
                    flex-flow: row nowrap;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 20px;
                    gap: 6px;
                    text-transform: uppercase;
                    color: #838795;
                }

                .durationContainer {
                    display: flex;
                    flex-flow: row nowrap;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 20px;
                    gap: 6px;
                    text-transform: uppercase;
                    color: #838795;
                }
            }
        }
    }
}
.subHeader{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    .rightSide{
        display: flex;
        flex-flow:row nowrap;
    }
    .leftSide{
        display: flex;
       flex-flow:row nowrap;
       gap:10px;
    
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0px;
        gap: 6px;

        li {
            list-style: none;
            padding: 10px;

            a {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #31384F;

                svg {
                    width: 24px;
                }

                text-decoration: none;
            }


        }

        .active {
            background:  #0269F1;

            a {
                color: #0269F1;
            }

            svg {
                path {
                    
                    stroke: #f3f4f5;
                }

                .opacityBackground {
                    opacity: 0.4;
                }

            }
        }
    }
    }
}